{% extends 'home/base.html' %}

{% block title %}Ask HN - Hacker News Clone{% endblock %}

{% block content %}
    <!-- Ask HN Post List -->
    <div class="post-list">
        <div class="post">
            <span class="post-rank">1.</span>
            <a href="#" class="post-title">Post Title 1</a>
            <div class="post-details">
                100 points by Author 1 2 hours ago | 5 comments
            </div>
        </div>
        <div class="post">
            <span class="post-rank">2.</span>
            <a href="#" class="post-title">Post Title 2</a>
            <div class="post-details">
                80 points by Author 2 3 hours ago | 3 comments
            </div>
        </div>
        <div class="post">
            <span class="post-rank">3.</span>
            <a href="#" class="post-title">Post Title 3</a>
            <div class="post-details">
                75 points by Author 3 4 hours ago | 1 comment
            </div>
        </div>
        <div class="post">
            <span class="post-rank">4.</span>
            <a href="#" class="post-title">Post Title 4</a>
            <div class="post-details">
                60 points by Author 4 5 hours ago | 2 comments
            </div>
        </div>
        <div class="post">
            <span class="post-rank">5.</span>
            <a href="#" class="post-title">Post Title 5</a>
            <div class="post-details">
                50 points by Author 5 6 hours ago | 0 comments
            </div>
        </div>
        <div class="post">
            <span class="post-rank">6.</span>
            <a href="#" class="post-title">Post Title 6</a>
            <div class="post-details">
                40 points by Author 6 7 hours ago | 4 comments
            </div>
        </div>
        <div class="post">
            <span class="post-rank">7.</span>
            <a href="#" class="post-title">Post Title 7</a>
            <div class="post-details">
                30 points by Author 7 8 hours ago | 1 comment
            </div>
        </div>
        <div class="post">
            <span class="post-rank">8.</span>
            <a href="#" class="post-title">Post Title 8</a>
            <div class="post-details">
                20 points by Author 8 9 hours ago | 2 comments
            </div>
        </div>
        <div class="post">
            <span class="post-rank">9.</span>
            <a href="#" class="post-title">Post Title 9</a>
            <div class="post-details">
                10 points by Author 9 10 hours ago | 0 comments
            </div>
        </div>
        <div class="post">
            <span class="post-rank">10.</span>
            <a href="#" class="post-title">Post Title 10</a>
            <div class="post-details">
                5 points by Author 10 11 hours ago | 3 comments
            </div>
        </div>

        <div class="more-container">
            <a href="#" class="more-link">More</a>
            <div class="horizontal-line"></div>
        </div>
    </div>
{% endblock %}
