{% extends 'home/base.html' %}

{% block title %}Author's Profile - Hacker News Clone{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="profile-header">
        <table>
            <tr>
                <td>user:</td>
                <td>JohnDoe</td> <!-- Placeholder username -->
            </tr>
            <tr>
                <td>created:</td>
                <td>2 years ago</td> <!-- Placeholder for creation time -->
            </tr>
            <tr>
                <td>karma:</td>
                <td>1500</td> <!-- Placeholder karma points -->
            </tr>
            <tr>
                <td>about:</td>
                <td>
                    <a href="#">submissions</a>
                    <a href="#">comments</a>
                    <a href="#">favorites</a>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
