{% extends 'home/base.html' %}

{% block title %}Home - Hacker News Clone{% endblock %}

{% block content %}
    <!-- Post List -->
    <div class="post-list">
        {% if page == 'past' %}
        <div class="date-info">
            <p>Stories from {{ current_date }} (UTC)</p>
            <p>
                Go back 
                <a href="{% url 'home:past_with_days' days_ago=days_ago|add:"1" %}">a day</a>, 
                <a href="{% url 'home:past_with_days' days_ago=days_ago|add:"30" %}">month</a>, 
                <a href="{% url 'home:past_with_days' days_ago=days_ago|add:"365" %}">year</a>.
                {% if days_ago > 0 %}
                Go forward <a href="{% url 'home:next_day' days_ago=days_ago|add:"-1" %}">a day</a> .
                {% else %}
                <span>Go forward a day (disabled)</span>
                {% endif %}
            </p>
        </div>
        {% endif %}

        {% for post in posts %}
        <div class="post">
            <span class="post-rank">{{ forloop.counter }}.</span>
            <a href="#" class="post-title">{{ post.title }}</a>
            <a href="{{ post.url }}" class="post-title" target="_blank">
                ({{ post.url|slice:"7:" }})
            </a>
            <div class="post-details">
                {% if page == 'home' %}
                    {{ post.points }} points by {{ post.author }} {{ post.created_at|timesince }} ago | hide | {{ post.comment_count|default:"0" }} comments
                {% elif page == 'newest' %}
                    {{ post.points|pluralize }} point{% if post.points != 1 %}s{% endif %} by {{ post.author }} {{ post.created_at|timesince }} ago | hide | past | discuss
                {% elif page == 'past' %}
                    {{ post.points }} points by {{ post.author }} {{ post.created_at|timesince }} ago | {{ post.comment_count|default:"0" }} comments
                {% endif %}
            </div>
        </div>
        {% empty %}
            <p>No posts available.</p>
        {% endfor %}

        <div class="more-container">
            <a href="#" class="more-link">More</a>
            <div class="horizontal-line"></div>
        </div>
    </div>
{% endblock %}
