{% extends 'home/base.html' %}
{% load custom_filters %}

{% block title %}Home - Hacker News Clone{% endblock %}

{% block content %}
    <!-- Post List -->
    <div class="post-list">
        {% if page == 'past' %}
        <div class="date-info">
            <p>Stories from {{ current_date }} (UTC)</p>
            <p>
                Go back 
                <a href="{% url 'home:past_with_days' days_ago=days_ago|add:"1" %}">a day</a>, 
                <a href="{% url 'home:past_with_days' days_ago=days_ago|add:"30" %}">month</a>, 
                <a href="{% url 'home:past_with_days' days_ago=days_ago|add:"365" %}">year</a>.
                {% if days_ago > 0 %}
                Go forward <a href="{% url 'home:next_day' days_ago=days_ago|add:"-1" %}">a day</a> .
                {% else %}
                <span>Go forward a day (disabled)</span>
                {% endif %}
            </p>
        </div>
        {% endif %}

        {% for post in posts %}
        <div class="post" id="post-{{ post.id }}">
            <span class="post-rank">{{ forloop.counter }}.</span>

            {% if user.is_authenticated %}
            <span class="upvote-button" data-post-id="{{ post.id }}" 
          hx-post="{% url 'home:upvote_post' post.id %}" 
          hx-swap="innerHTML" 
          hx-target="#post-{{ post.id }}-points">
        ▲
    </span>
    {% else %}
    <a href="{% url 'authenticate:login' %}" class="upvote-button text-decoration-none">
        ▲
    </a>
{% endif %}


            <a href="{{ post.url }}" class="post-title" target="_blank">{{ post.title }}</a>
            <a href="{% url 'home:posts_by_domain' post.url|extract_domain %}" class="post-title" target="_blank">
                ({{ post.url|extract_domain }})
            </a>
            <div id="post-{{ post.id }}-details" class="post-details">
                {% if page == 'home' %}
                    <span id="post-{{ post.id }}-points">{{ post.points }}</span> points by 
                    <a href="{% url 'home:posts_by_author' post.author.id %}">
                        {{ post.author }}
                    </a> 
                    {{ post.created_at|timesince }} ago | 
                    <a href="{% url 'home:post_detail' post.id %}">{{ post.comment_count|default:"0" }} comments</a>
                    | <a href="#" hx-post="{% url 'home:hide_post' post.id %}" hx-target="#post-{{ post.id }}" hx-swap="outerHTML">hide</a>
                {% elif page == 'newest' %}
                    <span id="post-{{ post.id }}-points">{{ post.points }}</span> point{% if post.points != 1 %}s{% endif %} by 
                    <a href="{% url 'home:posts_by_author' post.author.id %}">{{ post.author }}</a> 
                    {{ post.created_at|timesince }} ago | 
                    <a href="{% url 'home:post_detail' post.id %}">{{ post.comment_count|default:"0" }} comments</a>
                    | <a href="#" hx-post="{% url 'home:hide_post' post.id %}" hx-target="#post-{{ post.id }}" hx-swap="outerHTML">hide</a> | 
                    <a href="{% url 'home:posts_by_domain' post.url|extract_domain %}">past</a> | 
                    <a href="#">discuss</a>
                {% elif page == 'past' %}
                    <span id="post-{{ post.id }}-points">{{ post.points }}</span> points by 
                    <a href="{% url 'home:posts_by_author' post.author.id %}">
                        {{ post.author }}
                    </a> 
                    {{ post.created_at|timesince }} ago | 
                    <a href="{% url 'home:post_detail' post.id %}">{{ post.comment_count|default:"0" }} comments</a>
                {% endif %}
            </div>
            
            
        </div>
        {% empty %}
            <p>No posts available.</p>
        {% endfor %}

        <div class="more-container">
            <a href="#" class="more-link">More</a>
            <div class="horizontal-line"></div>
        </div>
    </div>
{% endblock %}
