{% extends 'home/base.html' %}

{% block title %}Jobs - Hacker News Clone{% endblock %}

{% block content %}    

    <div class="post-list">
        {% if page == 'jobs' %}
        <div class="date-info">
    <p>These are jobs at YC startups. See more at <a href="https://ycombinator.com/jobs" target="_blank">ycombinator.com/jobs</a>.</p>
        </div>
    {% endif %}

        <div class="post">
            <span class="post-rank">1.</span>
            <a href="https://up.codes" class="post-title">UpCodes (YC S17): Hiring recruiters to build out remote team</a>
            <div class="post-details">12 hours ago</div>
        </div>
        <div class="post">
            <span class="post-rank">2.</span>
            <a href="https://ycombinator.com" class="post-title">Trellis (YC W24): Hiring engineers to build AI workflows for unstructured data</a>
            <div class="post-details">16 hours ago</div>
        </div>
        <div class="post">
            <span class="post-rank">3.</span>
            <a href="https://ashbyhq.com" class="post-title">Supabase (YC S20): Hiring a Product Marketer (Remote)</a>
            <div class="post-details">21 hours ago</div>
        </div>
        <div class="post">
            <span class="post-rank">4.</span>
            <a href="https://ycombinator.com" class="post-title">Continue (YC S23): Hiring a Developer Relations Engineer in San Francisco</a>
            <div class="post-details">1 day ago</div>
        </div>
        <div class="post">
            <span class="post-rank">5.</span>
            <a href="https://remotejobs.org" class="post-title">RankScience (YC W17): Hiring to supercharge SEO for startups</a>
            <div class="post-details">1 day ago</div>
        </div>
        <div class="post">
            <span class="post-rank">6.</span>
            <a href="https://ycombinator.com" class="post-title">PropelAuth (YC W22): Hiring engineers who love to write</a>
            <div class="post-details">1 day ago</div>
        </div>
        <div class="post">
            <span class="post-rank">7.</span>
            <a href="https://ycombinator.com" class="post-title">Versable (YC W22): Hiring</a>
            <div class="post-details">2 days ago</div>
        </div>
        <div class="post">
            <span class="post-rank">8.</span>
            <a href="#" class="post-title">Carma (YC W24): Hiring Software Engineers to Get Fleets Same-Day Auto Repair</a>
            <div class="post-details">2 days ago</div>
        </div>
        <div class="post">
            <span class="post-rank">9.</span>
            <a href="https://ycombinator.com" class="post-title">Gym Class (YC W22): Hiring First Mobile Game Engineer</a>
            <div class="post-details">2 days ago</div>
        </div>
        <div class="post">
            <span class="post-rank">10.</span>
            <a href="#" class="post-title">Nowadays (YC S23): Hiring a Founding Engineer</a>
            <div class="post-details">2 days ago</div>
        </div>
        <div class="post">
            <span class="post-rank">11.</span>
            <a href="https://mux.com" class="post-title">Mux (YC W16): Hiring a video engineer</a>
            <div class="post-details">3 days ago</div>
        </div>
        <div class="post">
            <span class="post-rank">12.</span>
            <a href="https://ycombinator.com" class="post-title">Activeloop (YC S18): Hiring an AI search engineer to ship fast, accurate search</a>
            <div class="post-details">3 days ago</div>
        </div>
        <div class="post">
            <span class="post-rank">13.</span>
            <a href="https://buildtrayd.notion.site" class="post-title">Trayd (YC S23): Hiring</a>
            <div class="post-details">3 days ago</div>
        </div>
        <div class="post">
            <span class="post-rank">14.</span>
            <a href="#" class="post-title">Meticulous (YC S21): Hiring to eliminate UI tests</a>
            <div class="post-details">4 days ago</div>
        </div>
        <div class="post">
            <span class="post-rank">15.</span>
            <a href="https://ycombinator.com" class="post-title">Distro (YC S24): Hiring a Senior Software Engineer</a>
            <div class="post-details">4 days ago</div>
        </div>
        <div class="post">
            <span class="post-rank">16.</span>
            <a href="https://ycombinator.com" class="post-title">Hatchet (YC W24): Hiring a developer-focused product engineer</a>
            <div class="post-details">4 days ago</div>
        </div>
        <div class="post">
            <span class="post-rank">17.</span>
            <a href="#" class="post-title">Devyce (YC S22): Hiring</a>
            <div class="post-details">4 days ago</div>
        </div>
    </div>
{% endblock %}
